{{- $pages := where .Site.RegularPages "Params.private" "ne" true -}}
[
{{- range $i, $p := $pages }}
  {{- if gt $i 0 }},{{ end }}
  {
    "title": {{ $p.Title | jsonify }},
    "permalink": {{ $p.Permalink | jsonify }},
    "content": {{ $p.Plain | jsonify }},
    "summary": {{ $p.Summary | jsonify }}
  }
{{- end }}
]